# SAB production environment configuration
SITE_NAME="Sri Amma Industrial Developer PVT LTD"
SITE_URL="https://www.sriammaindustrial.com"
#Mail from email
BUSINESS_EMAIL="storiessaver78@gmail.com"
BUSINESS_NAME="Sri Amma Industrial Developer PVT LTD"
#Business email send main email
SMTP_HOST="localhost"
SMTP_PORT="587"
SMTP_USERNAME="storiessaver78@gmail.com"
SMTP_PASSWORD="hjapsklezsadqkf"
SMTP_ENCRYPTION="tls"
#Customer Recieve mail
CUSTOMER_EMAIL_FROM="storiessaver78@gmail.com"
CUSTOMER_EMAIL_NAME="Sri Amma Industrial Developer PVT LTD"
#MySQL Database
DB_HOST="localhost"
DB_NAME="sriammabuilders"
DB_USER="sriammabuilders"
DB_PASSWORD=""
#Google sperd sheet
GOOGLE_SHEET_ID="1tnmUeVQuHGTKDHCbD-m1qzzvX7j7jbk26zlp39lSTeE"
GOOGLE_SHEET_NAME="Leads"
# Absolute path outside the public web root, for example:
# GOOGLE_SERVICE_ACCOUNT_FILE="/home/account/private/sriamma-google-service-account.json"
GOOGLE_SERVICE_ACCOUNT_FILE="/sri-amma-builders-508913-911fc2d66f8b.json"
#ReCHAPCHA CODE
RECAPTCHA_SITE_KEY="6Lf5q8AtAAAAAD3DRMY_d9P9DeAEz8t-KM7Oa9m4"
RECAPTCHA_SECRET_KEY="6Lf5q8AtAAAAAPRP_HWO-CZADTdkYKdjMlEwijQh"
RECAPTCHA_MIN_SCORE="0.5"
RECAPTCHA_ACTION="contact_form"
#This current time
CSRF_SESSION_NAME="sab_contact_session"
APP_TIMEZONE="Asia/Kolkata"
